.maincontent {
	font-family: "SUITE-Regular";
}

.content-top {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   font-family: "SUITE-Regular";
}

.content-title {
   width: 100%;
   border: 2px solid #ccc;
   padding: 20px;
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 15px;
   border-radius: 30px;
}

.cardbox {
	width: 100%;
	height: 1000px;
	/* background-color: gold; */
	display: grid;
	grid-template-columns: repeat(4, 210px);
	grid-template-rows: repeat(4, 333px);
	justify-items: center;
	place-items: center;
}

.card {
	width: 200px;
	height: 300px;
	padding: 5px;
}

.card:nth-child(even) {
	border: 2px solid #FC5230;
	background: linear-gradient( 45deg, #FCD5CE, #F8EDEB );
}
.card:nth-child(odd) {
	border: 2px solid #0256AA;
	background: linear-gradient( 45deg, #D1E1F0, white );
}

.anipic {
	box-sizing: border-box;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border: 1px solid #BBB;
	border-radius: 10px;
	object-fit: cover;
}

.info {
	margin-top: 10px;
	font-weight: bold;
}

.paging {
	width : 100%;
	display : flex;
	justify-content: space-between;
}

.paging ul {
	list-style-type : none;
	display : inline-block;
}

.paging li {
	float : left;
	display : inline-block;
	width : 100px !important;
	font-size : 25px;
	font-weight : bold;
	text-align : center;

}

.paging li:hover {
	cursor : pointer;

}

.paging span {
	font-size : 25px;
	font-weight : bold;

}

.paging-hr {
	margin-top : 40px;
	width : 100%;
}

.content-top {
	font-family: "SUITE-Regular";
}

.content-top {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.content-title {
	font-weight : bold;
	width : 100%;
	margin-top: 25px;
	margin-bottom: 8px;
}

hr {
   width: 100%;
   margin-top: 10px;
   margin-bottom: 40px;
   color: #868e96 !important;
   border-top: 2px solid;
   opacity: 0.5;
}

.tbladopt {
	margin: 20px auto;
	width: 100%;
}

.tbladopt tr {
	border: 1px solid #DDD;
	border-width: 1px 0px 1px;
	height: 46px;
}

.tbladopt tr:first-child {
	border-top: 3px solid #0256AA;
}

.tbladopt tr:last-child {
	border-bottom: 3px solid #0256AA;
}

.tbladopt td {
	padding-left: 10px; 
}

.tbladopt.tblinfo .tdimg {width: 190px; text-align: center; padding: 0;}

.tbladopt th {
	text-align: center;
	background-color: #EEF4F7;
}

.tblinfo th {
	width: 160px;
}

.tblinfo tr:last-child {
	height: 150px;
	overflow: auto;
}

.introurl {
	color: #0256AA;
}
.introurl:hover {
	color: #F24822;
}

.tblcenter th {
	width: 160px;
}

.tblcenter tr:nth-child(2) td, .tblcenter tr:nth-child(6) td {
	width: 260px;
}

.write-btn:hover {
	background-color: #0256AA;
	border: 1px solid #0256AA;
	color: white;
}

.write-btn:hover .material-symbols-outlined {
	background-color: #0256AA;
	border: 1px solid #0256AA;
	color: white !important;
}

.write-btn {
	font-size : 20px;
	border-radius : 10px;
	display : flex;
    align-items: center;
    background-color: white;
    border: 1px solid #555;
    color: #555;
    padding: 7px 10px;
}

.write-btn .material-symbols-outlined {
	font-size: 25px !important;
	color: #555;
}

.btn-div {
	width : 100%;	
	display : flex;
	flex-direction: row-reverse;
}



