.maincontent {
	font-family: "SUITE-Regular";
}

.cardbox {
	width: 100%;
	height: 1000px;
	/* background-color: gold; */
	display: grid;
	grid-template-columns: repeat(4, 210px);
	grid-template-rows: repeat(4, 333px);
	justify-items: center;
	place-items: center;
}

.card {
	width: 200px;
	height: 300px;
	padding: 5px;
	border: 2px solid #0256AA;
	background-color: #EEF4F7;
}

.anipic {
	box-sizing: border-box;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border: 1px solid #BBB;
	border-radius: 10px;
	object-fit: cover;
}

.info {
	margin-top: 10px;
	font-weight: bold;
}

.paging {
	height: 50px;
}

.content-top {
	font-family: "SUITE-Regular";
}

.content-top {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.content-title {
	width: 100%;
	border: 2px solid #ccc;
	padding: 20px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 15px;
	border-radius: 30px;
}

.tbladopt {
	margin: 20px auto;
	width: 100%;
}

.tbladopt tr {
	border: 1px solid #DDD;
	border-width: 1px 0px 1px;
	height: 46px;
}

.tbladopt tr:first-child {
	border-top: 3px solid #0256AA;
}

.tbladopt tr:last-child {
	border-bottom: 3px solid #0256AA;
}

.tbladopt td {
	padding-left: 10px; 
}

.tbladopt.tblinfo .tdimg {width: 190px; text-align: center; padding: 0;}

.tbladopt th {
	text-align: center;
	background-color: #EEF4F7;
}

.tblinfo th {
	width: 160px;
}

.tblinfo tr:last-child {
	height: 150px;
	overflow: auto;
}

.introurl {
	color: #0256AA;
}

.tblcenter th {
	width: 160px;
}

.tblcenter tr:nth-child(2) td, .tblcenter tr:nth-child(6) td {
	width: 260px;
}





