.content {
	width: 1270px;
	margin: 0 auto;
	font-family: "SUITE-Regular"
}

@media (max-width: 1280px) {
	.content {
		width: 840px;
	}
  
 	.leftbar, .rightbar {
  		display: none;
  	}
  
 	.maincontent {
  		margin: 0 auto;
  	}
}

@media (max-width: 860px) {
  	.content {
  		margin: 0 auto;
	} 
}

.mycontainer {
	display: flex;
	width: 100%;
}

.leftbar {
	width: 215px;
}

.rightbar {
	width: 215px;
}

.maincontent {
	width: 840px;
}

