.content {
	width: 1640px;
	margin: 0 auto;
	font-family: "SUITE-Regular"
}

@media (max-width: 1280px) {
	.content {
		width: 840px;
	}
  
 	.leftbar, .rightbar {
  		display: none;
  	}
  
 	.maincontent {
  		margin: 0 auto;
  	}
}

@media (max-width: 860px) {
  	.content {
  		margin: 0 auto;
	} 
}

.mycontainer {
	display: flex;
	width: 100%;
}

.leftbar {
	width: 400px;
	background: url('/animingle/asset/commonimg/leftbar.png') no-repeat;
}

.rightbar {
	width: 400px;
	background: url('/animingle/asset/commonimg/rightbar.png') no-repeat;
}

.maincontent {
	width: 840px;
}

