	.content-top {
	   font-family: "SUITE-Regular"; 
	}
	
	.content-top {
	   width: 100%;
	   display: flex;
	   justify-content: center;
	   flex-direction: column;
	   align-items: center;
	   margin-bottom: 20px;
	}
	
	.content-title {
	   width: 100%;
	   border: 2px solid #ccc;
	   padding: 20px;
	   text-align: center;
	   font-size: 40px;
	   font-weight: bold;
	   margin-top: 25px;
	   margin-bottom: 15px;
	   border-radius: 30px;
	}
		
	
	.sub-navbar li:nth-child(3) a {
			color: #f24822;
	}
			
	.find {
		border: 3px solid black;
		text-align: center;
		font-size: 40px;
		font-family: "SUITE-Regular";
		font-weight: bold;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		margin-top: 20px;
	}
	
	#search-click {
		display: flex;
		justify-content: space-around;
		font-weight: bold;
		margin-top: 20px;
		padding: 20px;
	}
	
	#search-click .prefix {
		border: 2px solid#ccc;
		text-align: center;
		border-radius: 10px;
		padding: 5px;
		padding-left: 20px;
		padding-right: 20px;
		font-family: "SUITE-Regular";
		font-size: 20px;
	}
	
	.content-filter button {
	   border-radius: 40px;
	   border: 1px solid #aaa;
	   padding: 7px 15px;
	   background-color: white;
	   margin: 0 5px;
	   margin-bottom: 15px;
	}
	
	.content-filter button:hover, .content-filter .prefix-select {
	   background-color: #0D99FF;
	   color: white;
	}
	
	.search-box {
	   display: flex;
	   border: 1px solid #aaa;
	   border-radius: 40px;
	}
	
	.content-search {
	   border: 0px solid;
	   border-radius: 40px;
	   padding: 0 30px;
	   outline: none;
	   width : 500px;
	
	}	
	
	.search-box .material-symbols-outlined {
	   font-size: 35px !important;
	   padding: 5px 10px;
	}
	
	.search-box .material-symbols-outlined:hover {
	   cursor: pointer;   
	}
	
	.search-filter {
		margin-left : 20px;
		border : none;
		outline : none;
	}
	
	.find-content {
		border : 1px solid #ccc;
		border-radius: 20px;
		width : 100%;
		padding : 20px;
		margin-bottom : 30px;
		box-shadow: 5px 5px #aaa;
	}
	
	.writer {
		display: flex;
		align-items: center;
		font-family: "SUITE-Regular";
		margin-bottom: 5px;
		font-size: 18px;
	}
	
	.writer img {
		width: 40px;
		height: 40px;
		border: 1px solid #ccc;
		border-radius: 10px;
		margin-right: 10px;
	}
	
	.writer .time {
		color: #999;
		font-size: 10pt;
		margin-left: 5px;
	}
	
	.content-list {
		font-family: "SUITE-Regular";
		font-size: 22px;
		width:700px;
		word-break: break-all;
	}
	
	.content-prefix {
		color: #999;
		font-size: 15pt;
		margin-left: 5px;
		margin-right: 10px;
	}
	
	.count {
		display: flex;
		justify-content: right;
		align-items: center;
	}
	
	.count span {
		color: #555;
		font-size: 20px !important;
		margin-right: 5px;
		margin-left: 5px;
	}
	
	.find-view-subject .material-symbols-outlined {
		color: #555;
		font-size: 20px !important;
		margin-right: 5px;
		margin-left: 5px;
	}
	
	.main-title {
		font-weight : bold;
		width : 100%;
		margin-top: 30px;
	}
	
	hr {
	   width: 100%;
	   margin-top: 10px;
	   margin-bottom: 40px;
	   color: #868e96 !important;
	   border-top: 2px solid;
	   opacity: 0.5;
	}
	
	.form-prefix div, .form-subject div, .form-locate div, .form-content div {
		margin-bottom: 5px;
		font-family: "SUITE-Regular";
	}
	
	.form-prefix select {
		padding : 10px;
		padding-left : 15px;
		border-radius : 5px;
		border : 1px solid #878787;
		margin-bottom: 15px;
		width: 100%;
	}
	
	.form-subject input {
		padding : 10px;
		padding-left : 15px;
		border-radius : 5px;
		border : 1px solid #878787;
		margin-bottom: 15px;
		width: 100%;
	}
	
	.form-subject input:focus, .form-prefix select:focus {
		outline-color: #ADB5BD;
	}

	.form-locate, .form-content {
		margin-bottom: 20px;
	}
	
	.map {
		width: 100%;
		height: 400px;
	}
	
	
	.form-content textarea {
		width:100%;
		height: 250px;
		padding: 5px;
		border-radius: 5px;
		font-family: "SUITE-Regular";
		margin-bottom: 50px;
		resize: none;
	}
	
	.form-button, .view-button, .find-view-comment-button, .find-list-button {
		text-align: right;
		margin-bottom: 70px;
	}
	
	.form-button button, .find-list-button button {
		font-family: "SUITE-Regular";
		width: 120px;
		height: 50px;
		border-radius: 10px;
		border: 1px solid #ccc;
	}
	
	.write-btn:hover {
		background-color: #0256AA;
		border: 1px solid #0256AA;
		color: white;
	}
	
	.write-btn:hover .material-symbols-outlined {
		background-color: #0256AA;
		border: 1px solid #0256AA;
		color: white !important;
	}
	
	.write-btn {
		font-size : 20px;
		border-radius : 10px;
		display : flex;
	    align-items: center;
	    background-color: white;
	    border: 1px solid #555;
	    color: #555;
	    padding: 7px 10px;
	    margin-bottom: 20px;
	}
	
	.write-btn .material-symbols-outlined {
		font-size: 25px !important;
		color: #555;
	}
	
	.btn-div {
		width : 100%;	
		display : flex;
		flex-direction: row-reverse;
	}		
	
	.content-btn {
		margin-top : 20px;
		padding : 15px 30px;
		width: 100px;
		margin-left:10px;
		border : none;
		border-radius : 10px;
		font-size : 18px;
	}
	
	.content-btn.add-btn, .edit-btn {
		background-color: #0256AA;
		color : white;
	}		
	
	.content-btn:hover {
		transition : .3s; 
		opacity : 0.8;
	}
	
	.main-border {
		border : 1px solid #aaa;
		margin-top: 10px;
		width : 100%;
		padding : 15px;
		box-shadow: 5px 5px #ccc;
		border-radius: 20px;
	}
	
	.a-div {
		width : 100%;
		text-align : left;
		margin-top: 25px;
	}
	
	.a-back {
		text-decoration : none;	
		margin-bottom : 10px;
		display : flex;
		align-items: center;
		width : fit-content;
	}
	
	.back-to-list{
		color :  #5C5C5C;
		font-size : 18px;
		font-weight : bold;
	}
	
	.material-symbols-outlined {
		font-size : 22px !important;
	}
		
	.find-view-writer {
		margin-left: 40px;
		margin-top: 10px;
		display: flex;
		align-items: center;
	}
	
	.find-view-writer span {
		padding-left: 20px;
	}
		
	.maincontent #view-subject {
		margin-left: 20px;
		font-family: "SUITE-Regular";
		border: 1px solid red;
	}
	
	.find-view-subject {
		display: flex;
		align-items: center;
		padding-left: 40px;
		margin-top: 25px;
		margin-bottom: 40px;
		width: 700px;
	}
	
	.find-view-subject span:first-child {
		margin-right: 20px;
		font-size: 25px;
		font-family: "SUITE-Regular";
		font-weight: bold;
	}
	
	.find-view-content {
		font-family: "SUITE-Regular";
		padding-left: 40px;
		margin-bottom: 20px;
		width: 700px;
		font-size: 18px;
	}
	
	.find-view-map {
		width: 700px;
		height: 400px;
		margin-left: 40px;
		margin-bottom: 20px;
	}
	
	.view-button {
		display : flex;
		flex-direction: row-reverse;
		margin-right: 60px;
		margin-bottom: 30px;
	}
	
	.content-btn1 {
		margin-top : 20px;
		padding : 15px 20px;
		width : 100px;
		margin-left:10px;
		background-color: #0256AA;
		border : none;
		border-radius : 10px;
		color: white;
	}
	
	.content-btn2 {
		margin-top : 20px;
		padding : 15px 20px;
		width : 100px;
		margin-left:10px;
		background-color : #F0F0F0;
		border : 1px solid black;
		border-radius : 10px;
	}
	
	.content-btn1:hover,
	.content-btn2:hover {
	 	transition : .3s; 
		opacity : 0.8;	
	}		
	
	.find-view-comment {
		border-top: 1px solid #ccc;
		padding-top: 20px;
		padding-left: 40px;
		font-family: "SUITE-Regular";
		margin-bottom: 30px;
	}
	
	.find-view-comment div:first-child {
		width: 700px;
	}
	
	.find-view-write-comment {
		display: flex;
		align-items: flex-start;
	}
	
	.find-view-write-comment img {
		width: 40px;
		height: 40px;
		border: 1px solid #ccc;
		border-radius: 10px;
		margin-right: 10px;
	}
	
	.find-view-write-comment textarea {
		width: 600px;
	}
	
	.find-view-comment-button button {
		margin-right: 65px;
		margin-top: 10px;
		background-color: white;
		border: 1px solid #555;
		border-radius: 10px;
		color: #555;
		padding: 7px 15px;
	}
	
	.find-view-comment-button button:hover {
		background-color: #0256AA;
		color: white;
	}		
	
	.find-view-reply {
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		width: 700px;
	}
	
	.find-view-reply .writer .time {
		margin-left: 25px;
	}
	
	.find-view-reply .content-list {
		font-size: 20px;
		margin-bottom: 5px;
	}
	
	.form-content .ck-editor__editable { 
    	height: 250px; 
	}
	
	.find-view-write-comment .ck-editor__editable {
		height: 150px;
		width: 600px;
	}
	
	.move-to-view{
		text-decoration : none;
		color : black;
	}
	
	.move-to-view:hover {
		color: black;
	}
	
	.move-to-view:hover .content-list{
		color: #F24822;
	}
	
	.comment-add-text-box {
		display: flex;
		flex-direction: column;
		width: 700px;
		margin: 0 auto;
		margin-bottom: 30px;
		font-family: "SUITE-Regular";
		margin-left: 40px;
	}
	
	.commet-add-text-area-box {
		height: 120px;
		padding: 15px;
		border: 1px solid #999;
		border-radius: 10px;
	}
	
	.commet-add-text-area-box textarea {
		overflow:hidden;
		resize: none;
		outline: none;
		border: 0px;
		width: 100%;
	}
	
	#del-btn {
		border: 1px solid black;
	}
	
	#pagination {
	
		font-size: 25px;
		margin: 0 auto;
	}
	
	#pagination a {
		text-decoration: none;
		color: black;
		margin: 0 10px;
	}
	
	