.navbar {
  border-bottom: 3px solid #0256aa;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "SUITE-Regular";
  font-weight: 600;
  justify-content: center;
}

.navbar > div {
	width: 1280px;
	padding: 0;
	margin: 0;
}

.main-logo {
  width: 250px;
  height: 50px;
  object-fit: cover;
}

.navbar-toggler {
  padding: 0;
}

.nav-link.text-dark:hover {
  color: #f24822 !important;
}

.nav-link.text-dark {
  text-align: right;
}

.material-symbols-outlined {
  color: #0256aa;
  font-size: 4rem !important;
}

.sub-navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sub-navbar > div {
	width: 840px;
	margin: 0 auto;
}

.sub-navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.sub-navbar a {
  text-decoration-line: none;
  font-family: "SUITE-Regular";
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.sub-navbar a:hover {
  color: #f24822;
}

@media (max-width: 850px) {
  .sub-navbar > div {
  	width: 650px;
  	margin: 0 auto;
    font-size: 16px;
  }

  .sub-navbar ul {
    padding-left: 0px;
  }
}

.container-fluid {
  padding: 0;
}

.main1 {
  width: 100%;
  object-fit: cover;
}
