@font-face {
	font-family: "SUITE-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
    font-weight: 400;
    font-style: normal;
}

.mycontainer {
	margin-top: 25px;
	margin-bottom: 15px;
}

.maincontent {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.walking-buddy-finder-table, 
.chatterbox-table, 
.vet-qna-table {
	width: 600px;
	border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 25px;
}

.walking-buddy-finder-table th, 
.chatterbox-table th, 
.vet-qna-table th {
    font-family: "SUITE-Regular";
    font-size: 25px;
    border: 1px solid #eee;
}

.walking-buddy-finder-table td, 
.chatterbox-table td, 
.vet-qna-table td {
    font-family: "SUITE-Regular";
    font-size: 20px;
    border: 1px solid #eee;
}