@font-face {
	font-family: "SUITE-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
    font-weight: 400;
    font-style: normal;
}

.mycontainer {
	margin-top: 25px;
	margin-bottom: 15px;
}

.maincontent {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.carousel-control-prev,
.carousel-control-next {
	width: 3% !important;
	text-shadow: 0px 0px 2px white;
}

.material-symbols-outlined {
	color: black !important;
}