

.div-wrap {
    display: flex;
    justify-content: space-between;
}


.join-title {
    text-align : center;
    margin : 25px 0px;
    font-weight : 600;
}


.join-form {
    margin : 0 auto;
    width : fit-content; /*반응형이라서 나중에 조정해야됨*/
    background-color: #f5f5f5;
    border-radius: 5px;
    border : none;
    padding : 0px 35px;

}

input[type="text"],
input[type="password"],
input[type="number"],
.birthday {
	width : 100%;
    height: 43px;
    padding-left : 15px;
    border : none;
    border-radius : 10px;
    margin-bottom : 20px;
}

#email2 {
    height: 43px;
    padding : 7px 20px;
    border : none;
    border-radius : 10px;
    margin-bottom : 20px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    outline :  2px solid #e4e4e4;
}

.tel, #email1, .post-num {
    width : 20% !important;
}

.address {
	width : 55% !important;
	margin-left : 10px;
}

.birthday {
    margin-left : 20px;
    width : 40%;
}


.create-accouont-btn {
    width : 100%;
    height : 60px;
    vertical-align: middle;
    background-color : #0256AA;
    color : white;
    font-size : 20px;
    border-radius : 10px;
    border : none;
    margin : 20px 0px;
}

.search-btn, .dupli-Btn {
    padding : 0px 20px;
    background-color : #D1E1F0;
    height: 43px;
    border-radius : 5px;
    border : none;
    line-height: 24px;
    text-align: center;
    margin-left : 10px;
    font-size : 16px;
}


.search-btn:hover, .dupli-Btn:hover, 
.create-accouont-btn:hover {
    cursor : pointer;
}

.search-btn:hover, .dupli-Btn:hover {
    transition : .3s;
    cursor : pointer;
    background-color: #91c4f3;
}

.create-accouont-btn:hover  {
	transition : .5s;
	background-color :#FC5230;
}

/* 반려동물 여부 */
.select {
    margin-bottom : 20px;
}
.select input[type=radio]{
    display: none;
}

.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    padding : 10px 15px;
    border-radius : 5px;
    line-height: 24px;
    text-align: center;
    font-size: 15px;
    margin-right : 10px;
}
.select input[type=radio]+label{
    background-color: #ffffff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #006fdf;
    color: #f5f5f5;
}

/*프로필 이미지*/
.file-name {
    margin-left : 20px;
    width : 50% !important;
}

.file-name:focus{
   outline : none !important;
}


.upload-file label {
    display: inline-block;
    padding: 0px 30px;
    vertical-align: middle;
    background-color: #c4c4c4;
    cursor: pointer;
    height: 43px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border : none;
    line-height: 42px;
    text-align: center;
    margin-left : -40px;
    margin-top : -5px;
}

.upload-file label:hover {
    background-color:#a4a4a4;
    transition : .3s;
}

.upload-file input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.move-to-login {
    color : #555;
    font-size : 12px;
    margin-bottom : 20px;
}