img {
	width: 40%;
}

.login-box {
    background-color: #F1F1F1; 
    text-align: center;
    width: 50%;
    font-family: "SUITE-Regular"; 
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 5px 5px #ccc;
}

.login-box h2 {
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-form {
	width: 100%;	
}

.id, .pw {
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding-left: 18px;
    margin-top: 12px;
    outline-color: #ADB5BD;
}

.login-btn {
    margin-top: 30px;
    width: 80%;
    height: 35px;
    background-color: #D1E1F0;
    border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid rgb(191, 214, 234);
}

.login-btn:hover {
	background-color: #91c4f3;
}

.social {
	width : 36%;
    height:45px;
    border-radius: 50%;
    margin: 30px 12px 25px 12px;
    border-radius: 10px;
    object-fit: contain;
    cursor : pointer;
}
