.mymenu {
	margin-top: 30px;
}

.mymenu ul {
	list-style: none;
	font-family: "SUITE-Regular";
	font-size: 1.5rem;
	font-weight: bold;
	padding-left: 15px;
}
/* 
.leftbar {
	background-color: green;
}
 */
.mymenu ul > li .ea:hover {
	color: #F24822;
}

.mymenu ul > li .ea {
	margin: 10px 0;
	cursor: pointer;
	color: black;
	text-decoration: none;
}
.stamp {
	width: 30px;
	margin-right: 10px;
}
.mymenu li.selected  .ea {
	color: #F24822;
}