.content-box {
	border : 1px solid #aaa;
	width : 100%;
	padding : 15px;
	box-shadow: 5px 5px #ccc;
	border-radius: 20px;
}

.detail-content {
	margin-top : 20px;
	padding : 10px;
	width : 100%;
}

.detail-content div:first-child {
	display : flex;
	align-items: center;
}

.content-title {
	font-weight : bold;
	font-size : 20px;
}

.content-time {
	margin-left : 20px;
	color : #AAAAAA;
}

.detail-config {
	margin : 5px 0px;
	margin-bottom : 20px;
	color : #5C5C5C;
}

.a-div {
	width : 100%;
	text-align : left;
}

.a-back {
	text-decoration : none;	
	margin-bottom : 10px;
	display : flex;
	align-items: center;
	width : fit-content;
}

.a-back:hover span {
	color: #0256AA;
}

.material-symbols-outlined {
	font-size : 22px !important;
	color: #5c5c5c;
}

.back-to-list{
	color :  #5C5C5C;
	font-size : 18px;
	font-weight : bold;
}

.profile-img {
	width : 40px;
	height : 40px;
	padding : 5px;
	border : 2px solid #F0F0F0;
	border-radius : 10px;
}


.item-header {
	display : flex;
    align-items: baseline;
    justify-content: space-between;
}

.item-id {
	font-size : 17px;
}


.writebtn-div {
	margin : 30px 0px;
	text-align: right;
}

.btn-div {
	display : flex;
	flex-direction: row-reverse;

}

.write-btn {
	padding : 15px 25px;
	width : 210px;
	font-size : 20px;
	background-color: #0256AA;
	border : none;
	border-radius : 10px;
    font-weight : bold;
    color : white;
    letter-spacing : 5px;
}

.write-btn:hover, .content-btn:hover {
	transition : .3s; 
	opacity : 0.8;
}

.content-btn1 {
	margin-top : 20px;
	padding : 15px 20px;
	width : 100px;
	margin-left:10px;
	background-color: #0256AA;
	border : none;
	border-radius : 10px;
	color: white;
}

.content-btn2 {
	margin-top : 20px;
	padding : 15px 20px;
	width : 100px;
	margin-left:10px;
	background-color : #F0F0F0;
	border : none;
	border-radius : 10px;
}

.content-btn1:hover,
.content-btn2:hover {
 	transition : .3s; 
	opacity : 0.8;	
}

.applicant-list {
	width: 100%;
	padding : 10px;

}

.list-item {
	padding : 20px;
	border-bottom : 1px solid #E6E6E6;
	margin-bottom : 20px;
}

.applicant-list-title {
	font-weight : bold;
	font-size : 20px;
	margin : 10px 0px;
}

.applicant-profile-img {
	width : 100px;
	height : 100px;
	border : 1px solid #ccc;
	border-radius : 15px;
	padding : 5px;
}

.info {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.list-item-div {
	display : flex;
    justify-content: space-between;
}

.item-div1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-div2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width : 100%;
	line-height : 30px;
	margin-left: 15px;
}

.item-div3 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
	width: 150px;
}

.item-div2 div:nth-child(2),
.item-div2 div:nth-child(3) {
	font-size : 17px;
}


.applicant-id {
	font-size : 20px;
	font-weight : bold;
}

.applicant-btn {
	width : 100%;
	margin-bottom : 10px;
	border : none;
	padding : 10px 0px;
	border-radius : 5px; 
}

.applicant-btn:hover {
	transition : .4s;
	opacity : 0.7;
}

.applicant-btn:nth-child(1) {
	background-color : tomato;
	color : white;
}

.applicant-btn:nth-child(2) {
	background-color :#9747FF;
	color : white;
}
span.image-inline {
	display: inline-block;
}

.content-text img {
	width: 100%;
}

#messageWindow {
	padding: 10px;
	width: 100%;
	max-height: 300px;
	overflow: auto;
}

.modal-footer {
	display: flex;
	justify-content: center;
}

.cht-msg-box {
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 35px;
	outline-color: #aaa;
	padding: 10px;
}