.content-top {
   font-family: "SUITE-Regular"; 
}

.content-top {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.content-title {
   width: 100%;
   border: 2px solid #ccc;
   padding: 20px;
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 15px;
   border-radius: 30px;
}

.content-filter button {
   border-radius: 40px;
   border: 1px solid #aaa;
   padding: 7px 15px;
   background-color: white;
   margin: 0 5px;
   margin-bottom: 15px;
}

.content-filter button:hover {
   background-color: #0D99FF;
   color: white;
}

.search-box {
   display: flex;
   border: 1px solid #aaa;
   border-radius: 40px;
}

.content-search {
   border: 0px solid;
   border-radius: 40px;
   padding: 0 30px;
   outline: none;
   width : 500px;

}



.search-box .material-symbols-outlined {
   font-size: 35px !important;
   padding: 5px 10px;
}

.search-box .material-symbols-outlined:hover {
   cursor: pointer;   
}

.search-filter {
	margin-left : 20px;
	/*
	border-right : 1px solid  #aaa;
	border-top: none;
	border-bottom: none;
	border-left: none;
	*/
	border : none;
	outline : none;
}

.board {
	margin-top : 20px;
	width : 100%;

}

.profile-img {
		width : 40px;
		height : 40px;
		padding : 5px;
		border : 2px solid #F0F0F0;
		border-radius : 10px;
}

.item-wrap {
	border : 1px solid #B1B1B1;
	border-radius: 20px;
	width : 100%;
	padding : 20px;
	margin-bottom : 10px;

}

.item-header {
	display : flex;
    align-items: baseline;
    justify-content: space-between;
}

.item-id {
	font-size : 15px;
	font-weight : 500;
}

.item-time {
	color : #AAAAAA;
	font-size : 12px;
}

.recruit-state {
	width : 80px;
	height : 35px;
	background-color : tomato;
	border-radius : 5px;
	color : white;
	line-height : 35px;
	text-align : center;
}

.item-content {
	font-size : 20px;
	margin-bottom : 10px;
}

.item-config {
	color :  #5C5C5C;
}

.item-config span:nth-last-child(1) {
    font-size : 11px;
}

.write-btn {
	padding : 10px 30px;
	font-size : 20px;
	background-color : #D1E1F0;
	border : 1px solid #ADC3D9;
	border-radius : 10px;
	display : flex;
    align-items: center;
    margin : 20px 0px;
}

.write-btn .material-symbols-outlined {
	font-size : 9px;
}

.btn-div {
	width : 100%;	
	display : flex;
	flex-direction: row-reverse;
}

.paging {
	width : 100%;
	display : flex;
	justify-content: space-between;
}

.paging ul {
	list-style-type : none;
	display : inline-block;
}

.paging li {
	float : left;
	display : inline-block;
	width : 100px !important;
	font-size : 25px;
	font-weight : bold;
	text-align : center;

}

.paging li:hover {
	cursor : pointer;

}

.paging span {
	font-size : 25px;
	font-weight : bold;

}

.paging-hr {
	margin-top : 30px;
	width : 100%;
}

.move-to-view {
	text-decoration : none;
	color : black;
}

.move-to-view:hover {
	text-decoration : none;
	color : black;
}