@charset "UTF-8";

.content-box {
	border : 1px solid black;
	width : 100%;
	padding : 15px;
}

.detail-content {
	margin-top : 20px;
	padding : 10px;
	width : 100%;
}

.content-text {
	
}

.detail-content div:first-child {
	display : flex;
	align-items: center;
}



.content-title {
	font-weight : bold;
	font-size : 20px;
}

.content-time {
	margin-left : 20px;
	color : #AAAAAA;
}

.detail-config {
	margin : 5px 0px;
	margin-bottom : 20px;
	color : #5C5C5C;
}

.a-div {
	width : 100%;
	text-align : left;
}

.a-back {
	text-decoration : none;	
	margin-bottom : 10px;
	display : flex;
	align-items: center;
	width : fit-content;
}

.back-to-list{
	color :  #5C5C5C;
	font-size : 18px;
	font-weight : bold;
}

.material-symbols-outlined {
	font-size : 22px !important;
}

.profile-img {
	width : 40px;
	height : 40px;
	padding : 5px;
	border : 2px solid #F0F0F0;
	border-radius : 10px;
}


.item-header {
	display : flex;
    align-items: baseline;
    justify-content: space-between;
}

.item-id {
	font-size : 17px;
}


.writebtn-div {
	margin : 30px 0px;
}

.btn-div {
	display : flex;
	flex-direction: row-reverse;
	
}

.write-btn {
	padding : 15px 25px;
	width : 45%;
	font-size : 20px;
	background-color : #0065C9;
	border : none;
	border-radius : 10px;
    font-weight : bold;
    color : white;
    letter-spacing : 5px;
}

.write-btn:hover, .content-btn:hover {
	transition : .3s; 
	opacity : 0.8;
}

.content-btn {
	margin-top : 20px;
	padding : 15px 20px;
	width : 20%;
	margin-left:10px;
	background-color : #C4C4C4;
	border : none;
	border-radius : 10px;
}


.applicant-list {
	width: 100%;
	padding : 10px;
	
}

.list-item {
	padding : 20px;
	border-bottom : 1px solid #E6E6E6;
	margin-bottom : 20px;
}

.applicant-list-title {
	font-weight : bold;
	font-size : 20px;
	margin : 10px 0px;
}

.applicant-profile-img {
	width : 100px;
	height : 100px;
	border : 1px solid #ccc;
	border-radius : 15px;
	padding : 5px;
}

.list-item-div {
	display : flex;
    justify-content: space-between;
}

.item-div2 {
	width : 65%;
	line-height : 30px;
	
}

.item-div2 div:nth-child(2),
.item-div2 div:nth-child(3) {
	font-size : 17px;
}


.applicant-id {
	font-size : 20px;
	font-weight : bold;
}

.applicant-btn {
	width : 100%;
	margin-bottom : 10px;
	border : none;
	padding : 10px 0px;
	border-radius : 5px; 
}

.applicant-btn:hover {
	transition : .4s;
	opacity : 0.7;
}

.applicant-btn:nth-child(1) {
	background-color : tomato;
	color : white;
}

.applicant-btn:nth-child(2) {
	background-color :#9747FF;
	color : white;
}
