.content-top {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}

.content-title {
	width: 100%;
	border: 2px solid #ccc;
	padding: 20px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 15px;
	border-radius: 30px;
}

.content {
	font-family: "SUITE-Regular";
}

h1 {
	text-align: center;
	font-weight: bold;
}

.infobox {
	margin: 40px auto 0;
	display: flex;
}

.picbox {
	font-family: "SUITE-Regular";
	width: 200px;
	text-align: center;
	float: left;
	padding: 10px;
}

img#petsitterpic {
	width: 180px;
	height: 200px;
	object-fit: cover;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
}

#btnlabel {
	cursor: pointer;
	margin: 0 auto;
	width: 100px;
	height: 40px;
	padding: 7px;
}

#editpic {
	display: none;
}


.tblinfo {
	margin-left: 30px;
}

.tblinfo th {
	width: 100px;
}

.tblinfo tr:last-child {
	height: 80px;
	font-size: 40px;
	font-weight: bold;
}

#btnlabel {
	border: none;
	border-radius: 10px;
	font-size: 18px;
	background-color: #0256AA;
	color: white;
}

#btnlabel, .editintro {
	background-color: #0256AA;
}

#btnlabel:hover, #btnlabel:hover {
	transition: .3s;
	opacity: 0.8;
}

.selfintro {
	margin: 60px auto;
}

h3 {
	padding-left: 30px;
	margin-bottom: 15px;
}

.selfintro textarea {
	width: 100%;
	min-height: 300px;
	padding: 20px;
	line-height: 30px;
	outline: none;
	border-radius: 10px;
	font-size: 1.2rem;
	resize: none;
	border: 2px solid #CCC;
}

.editintro {
	float: right;
}

.score {
	position: relative;
	top: 10px;
	color: #666;
}

.tblapply {
	width: 100%;
	font-size: 1.2rem;
}

.tblapply tr {
	border: 2px solid #DDD;
}

.tblapply tr>td:first-child {
	text-align: left;
	padding: 15px;
}

.tblapply tr>td:last-child {
	text-align: center;
	width: 100px;
}

.state {
	width: 90%;
	border-radius: 5px;
}

.ing {
	background-color: tomato;
	color: white;
}

.accept {
	background-color: #14AE5C;
	color: white;
}

.deny {
	background-color: gold;
	color: #A38902;
}