.maincontent h1 {
			font-family: "SUITE-Regular";
			text-align: center;
		}
		.mypage-profile {
			margin-top: 40px;

		}

		.mypage-profile-img {
			font-family: "SUITE-Regular";
			width :200px;
			text-align: center;
			float: left;
			padding: 10px;

		}
		.mypage-profile-img img {
			width: 180px;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-bottom: 15px;
		}

		.mypage-profile-img button, .mypage-vet-img button{
			margin-top : 20px;
			padding : 15px 30px;
			width: 140px;
			margin-left:10px;
			border : none;
			border-radius : 10px;
			font-size : 18px;			
			background-color: #0256AA;
			color : white;
		}		

		.mypage-profile-main button {
			margin-top : 20px;
			padding : 5px 30px;
			width: 100px;
			margin-left:10px;
			border : none;
			border-radius : 10px;
			font-size : 18px;			
			background-color: #0256AA;
			color : white;
			height: 40px;
		}
		
		.mypage-edit button {	
			background-color: #0256AA;
		}
		
		.mypage-profile-img button:hover, .mypage-profile-main button:hover, .mypage-vet-img button:hover, .mypage-edit button:hover {
			transition : .3s;
			opacity : 0.8;
		}

		.mypage-profile-main {
			width: 600px;
			font-family: "SUITE-Regular";
			float: right;
			margin-top: 10px;
			padding-bottom: 40px;
			border-bottom: 2px solid #ccc;
		}

		.form-title {
			font-size: 16px;
			margin-bottom: 5px;
			font-weight: bold;
		}

		.mypage-profile-main input, .mypage-profile-pw input {
			width: 400px;
			border-radius: 10px;
			height: 40px;
			padding-left: 5px;
			margin-bottom: 10px;
		}

		.mypage-profile-main div:nth-child(6) button {
			width: 110px;
			height: 43px;
			background-color: #F0F0F0;
			border:1px solid #ccc;
			color: #000000;
			border-radius: 10px;
			margin-left: 5px;
			font-size: 16px;
			padding: 5px;
			position: relative;
			top: 0;
		}

		.address-detail {
			margin-top: 10px;
		}

		.mypage-edit {
			margin-left: 300px;
		}

		.mypage-profile-pw {
			float: right;
			margin-top: 10px;
			width: 600px;
			font-family: "SUITE-Regular";
			border-bottom: 2px solid #ccc;
			padding-bottom: 40px;
		}

		.mypage-profile-pw .mypage-edit button {
			width: 200px;
			color: white;
			border-radius: 10px;
			margin-left: -100px;
			border : none;
		}

		.mypage-profile-count {
			float: right;
			margin-top: 10px;
			width: 600px;
			font-family: "SUITE-Regular";
			padding-bottom: 40px;
		}

		#tblCount {
			border: 1px solid black;
			width: 400px;
		}

		#tblCount td:first-child {
			width: 150px;
			padding-left: 5px;
			text-align: center;
		}

		#tblCount td {
			border: 1px solid black;
			padding-left: 10px;
			height: 50px;
		}

	.mypage-vet-img {
		font-family: "SUITE-Regular";
		width :200px;
		text-align: center;
		float: left;
		padding: 10px;

	}

	.mypage-vet-img img {
		width: 180px;
		height: 250px;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-bottom: 15px;
	}


	.mypage-profile-main textarea {
		width: 400px;
		height: 200px;
		border-radius: 10px;
		padding-left: 5px;
		margin-bottom: 10px;
		resize: none;
		padding:
		5px;
	}

	.mypage-reply {
		float: left;
		margin-left: 100px;
	}

	#tblReply {
		width: 600px;
		font-family: "SUITE-Regular";
	}

	#tblReply tr {
		border: 1px solid black;
	}

	#tblReply td {
		height: 40px;
	}

	#tblReply td:first-child {
		padding-left: 10px;
		font-size: 18px;
		width: 500px;
	}

	#tblReply td:last-child {
		font-size : 12px;
		color: #777;
		text-align: right;
		vertical-align: bottom;
		padding-right: 20px;
	}
	
	.veterinary-main {
		border-bottom: 0px;
	}
	
	input[type="text"], textarea {
		padding : 10px;
		padding-left : 15px;
		border-radius : 5px;
		border : 1px solid #878787;
		margin-bottom: 10px;
	}
	
	input[type="text"]:focus-visible, textarea:focus-visible{
		outline-color: #ADB5BD;
	}