.content-top {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}

.content-title {
	width: 100%;
	border: 2px solid #ccc;
	padding: 20px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 15px;
	border-radius: 30px;
}

.maincontent h1 {
	font-family: "SUITE-Regular";
	text-align: center;
}

.mypage-profile {
	margin-top: 40px;
}

.mypage-profile-img {
	font-family: "SUITE-Regular";
	width: 200px;
	text-align: center;
	float: left;
	padding: 10px;
}

img#userpic {
	width: 180px;
	height: 200px;
	object-fit: cover;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
}

#btnlabel {
	margin-top: 20px;
	padding: 15px 30px;
	width: 140px;
	margin-left: 10px;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	background-color: #0256AA;
	color: white;
}

.mypage-profile-main button {
	margin-top: 20px;
	padding: 5px 30px;
	width: 100px;
	margin-left: 10px;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	background-color: #0256AA;
	color: white;
	height: 40px;
}

.mypage-edit button {
	background-color: #0256AA;
}

#btnlabel {
	cursor: pointer;
	margin: 0 auto;
	width: 100px;
	height: 40px;
	padding: 7px;
}

#editpic {
	display: none;
}

.mypage-profile-img button:hover, .mypage-profile-main button:hover,
	.mypage-vet-img button:hover, .mypage-edit button:hover, #btnlabel:hover
	{
	transition: .3s;
	opacity: 0.8;
}

.mypage-profile-main {
	width: 600px;
	font-family: "SUITE-Regular";
	float: right;
	margin-top: 10px;
	padding-bottom: 40px;
}

.mypage-profile::after {
	content : "";
	display: block;
	clear: both;
}

.vqlist {
	cursor: pointer;	
}

.form-title {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: bold;
}

.mypage-profile-main input, .mypage-profile-pw input {
	width: 400px;
	border-radius: 10px;
	height: 40px;
	padding-left: 5px;
	margin-bottom: 10px;
}

.mypage-profile-main button.search-btn {
	width: 110px;
	height: 43px;
	background-color: #F0F0F0;
	border: 1px solid #ccc;
	color: #000000;
	border-radius: 10px;
	margin-left: 5px;
	font-size: 16px;
	padding: 5px;
	position: relative;
	top: 0;
}

.address-detail {
	margin-top: 10px;
}

.mypage-edit {
	margin-left: 300px;
}

.mypage-profile-pw {
	float: right;
	margin-top: 10px;
	width: 600px;
	font-family: "SUITE-Regular";
	padding-bottom: 40px;
}

.mypage-profile-pw .mypage-edit button {
	width: 200px;
	color: white;
	border-radius: 10px;
	margin-left: -100px;
	border: none;
}

.mypage-edit button {
	margin-left: 0px;
}

#btn-edit-pw {
	width: 200px;
	height: 40px;
}

button.search-btn {
	margin-top: 0px;
}

.maincontent button.btn-del-career, .maincontent button.btn-add-career {
	width: 60px;
    height: 40px;
    background-color: #F0F0F0;
    border: 1px solid #ccc;
    color: #000000;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 16px;
    padding: 5px;
    position: relative;
    top: 0;
    margin-top: 0px;
}

.mypage-profile-count {
	float: right;
	margin-top: 10px;
	width: 100%;
	font-family: "SUITE-Regular";
	padding-bottom: 40px;
}

#tblCount {
	margin-top: 20px;
	width: 100%;
}

#tblCount td:first-child {
	width: 100px;
	padding-left: 5px;
	text-align: center;
	border-right: 1px dashed #CCC;
}

#tblCount td {
	border: 2px solid #0256AA;
	border-left: 0;
	border-right: 0;
	padding-left: 10px;
	height: 50px;
}


.tblcontent {
	border-collapse: separate;
	width: 100%;
	border-radius: 10px;
	border-spacing: 0;
}

.tblcontent tr:first-child th:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tblcontent tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.tblcontent th, .tblcontent td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	height: 70px;
	font-size: 1.2rem;
}

.tblcontent th {
	background-color: #D1E0F0;
	text-align: center;
}

.tblcontent td {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tblcontent tbody tr {
	cursor: pointer;
}

.mypage-vet-img {
	font-family: "SUITE-Regular";
	width: 200px;
	text-align: center;
	float: left;
	padding: 10px;
}

.mypage-vet-img img {
	width: 180px;
	height: 250px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
}

.mypage-profile-main textarea {
	width: 400px;
	height: 200px;
	border-radius: 10px;
	padding-left: 5px;
	margin-bottom: 10px;
	resize: none;
	padding: 5px;
}

.mypage-reply {

}

#tblReply {
	width: 100%;
	font-family: "SUITE-Regular";
}

#tblReply tr {
	border: 1px solid black;
}

#tblReply td {
	height: 40px;
}

#tblReply td:first-child {
	padding-left: 10px;
	font-size: 18px;
	width: 500px;
}

#tblReply td:last-child {
	font-size: 12px;
	color: #777;
	text-align: right;
	vertical-align: bottom;
	padding-right: 20px;
}

.veterinary-main {
	border-bottom: 0px;
}

input[type="text"], textarea, input[type="password"] {
	padding: 10px;
	padding-left: 15px;
	border-radius: 5px;
	border: 1px solid #878787;
	margin-bottom: 10px;
}

input[type="text"]:focus-visible, textarea:focus-visible, input[type="password"] {
	outline-color: #ADB5BD;
}

input.tel {
	width: 122px;
}

h3 {
	margin-bottom: 15px;
}