.content-top {
	font-family: "SUITE-Regular"; 
}

.content-top {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.content-title {
	width: 100%;
	border: 2px solid #ccc;
	padding: 20px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 15px;
	border-radius: 30px;
}

.content-filter button {
	border-radius: 40px;
	border: 1px solid #aaa;
	padding: 7px 15px;
	background-color: white;
	margin: 0 5px;
	margin-bottom: 15px;
}

.content-filter button:hover {
	background-color: #0D99FF;
	color: white;
}

.search-box {
	display: flex;
	border: 1px solid #aaa;
	border-radius: 40px;
}

.content-search {
	border: 0px solid;
	border-radius: 40px;
	padding: 0 10px;
	outline: none;
}

.content-search:focus .search-box {
	border: 1px solid #0D99FF;
}

.search-box .material-symbols-outlined {
	font-size: 35px !important;
	padding: 5px 10px;
}

.search-box .material-symbols-outlined:hover {
	cursor: pointer;	
}
