.a-div {
	width : 100%;
	text-align : left;
}

.a-back {
	text-decoration : none;	
	margin-bottom : 10px;
	display : flex;
	align-items: center;
	width : fit-content;
}

.back-to-list{
	color :  #5C5C5C;
	font-size : 18px;
	font-weight : bold;
	padding-top: 10px;
}

.profile-img {
	width : 40px;
	height : 40px;
	padding : 5px;
	border : 2px solid #F0F0F0;
	border-radius : 10px;
}

.item-id {
	font-size : 17px;
}


.content-box {
	border : 1px solid #aaa;
	width : 100%;
	padding : 25px;
	box-shadow: 5px 5px #ccc;
	border-radius: 20px;
}

.content-top {
	font-family: "SUITE-Regular"; 
	width: 100%;
	
}

.content-top2 {
	font-family: "SUITE-Regular"; 
	display: flex;
	justify-content: space-between;
	padding: 0 8px 0 8px;
	margin-top : 20px;
	padding : 10px;
}

.content-title {
	font-weight : bold;
	font-size : 20px;
}

.content-time {
	font-size: 16px;
	font-weight: normal;
	margin-left : 20px;
	color : #AAAAAA;
}

.content-main {
	font-family: "SUITE-Regular"; 
	width: 85%;	
	margin: 20px 0 20px 0;
	padding: 0 8px 0 8px;
}

.content-main span {
	font-size: 16px;
	font-weight: normal;
}

.content-image img {
	width: 70%;
	margin: 20px 0 20px 0;
}

.views-count {
	font-family: "SUITE-Regular"; 
	font-size: 18px;
	font-weight: 300;
	margin-right: 15px;
	margin-left: 5px;
	padding-top: 10px;
}

.content-views {
	width: auto;
	float: right;
	display: flex;
	align-items: center;
}

.content-views .material-symbols-outlined {
	font-size: 22px !important;
	color: #777 !important;
}

.material-symbols-outlined {
	font-size: 20px !important;
	padding-top: 10px;
}

.btn-div {
	display : flex;
	flex-direction: row-reverse;

}

.content-btn1 {
	margin-top : 20px;
	padding : 15px 20px;
	width : 100px;
	margin-left:10px;
	background-color: #0256AA;
	border : none;
	border-radius : 10px;
	color: white;
}

.content-btn2 {
	margin-top : 20px;
	padding : 15px 20px;
	width : 100px;
	margin-left:10px;
	background-color : #F0F0F0;
	border : none;
	border-radius : 10px;
}

.content-btn1:hover,
.content-btn2:hover {
 	transition : .3s; 
	opacity : 0.8;	
}

.comment-btn {
	display : flex;
	flex-direction: row-reverse;

}

.comment-btn1 {
	margin-top : 20px;
	padding : 15px 20px;
	width : 100px;
	margin-left:10px;
	background-color: #0256AA;
	border : none;
	border-radius : 10px;
	color: white;
}

.comment-btn2 {
	margin-top : 20px;
	padding : 15px 20px;
	width : 100px;
	margin-left:10px;
	background-color : #F0F0F0;
	border : none;
	border-radius : 10px;
}

.comment-btn1:hover,
.comment-btn2:hover {
 	transition : .3s; 
	opacity : 0.8;	
}


.content-bottom {
	width: 95%;
	margin-top: 20px;
}

.comment-top {
	font-family: "SUITE-Regular"; 
	font-size: 20px;
	font-weight: 300;
	border-bottom: 2px solid #AAAAAA;
	padding-bottom: 8px;
	margin-bottom: 20px;
}

.comment-image {
	float: left;
	margin-right: 15px;
	width: auto;
}

.comment-image img {
	width: 45px;
	height: 45px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
}

.comment {
	width: 100%;
	margin: 10px 0 45px 0;
}

.comment-info {
	font-family: "SUITE-Regular"; 
	font-weight: 500;
	font-size: 18px;
}

.comment-info span:nth-child(2) {
	font-size: 15px;
	color: #AAAAAA;
	margin-left: 5px;
}

.comment-text {
	width: 93%;
	border: 3px solid #AAAAAA;
	margin-left: 60px;
	padding: 20px;
	border-radius: 10px;
	font-family: "SUITE-Regular"; 
	font-weight: 500;
	font-size: 20px;
	
}





.comment-editdelbtn  button {
	float: right;
	padding: 3px;
}

.comment-editdelbtn {
	padding: 20px 0 20px 0;
	
}

.comment-editbtn {
	width : 50px;
	margin-left:10px;
	background-color: #0256AA;
	border : none;
	border-radius : 10px;
	color: white;
	font-size: 15px;
}

.comment-delbtn {
	width : 50px;
	margin-left: 10px;
	background-color : #F0F0F0;
	border : none;
	border-radius : 10px;
	font-size: 15px;
}

.comment-editbtn:hover,
.comment-delbtn:hover {
 	transition : .3s; 
	opacity : 0.8;	
}





.content-bottom {
	width: 100%;
	margin-top: 20px;
	padding-right: 5px;
}

.ck-editor__editable { 
   height: 100px;
   margin-bottom: 20px;
}

.main-content-sel3 {
	width: 100%;
}

#editor {
	width: 100%;
	resize: none;
	border-radius: 8px;
}

.comment-add {
	display: flex;
	justify-content: space-between;
}