/* header */
a:hover {
    text-decoration: none !important;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "SUITE-Regular";
  font-weight: 600;
  justify-content: center;
  border-bottom: 2px solid #0256aa;
}

.navbar > div {
	margin: 0 !important;
}

.main-logo {
  width: 250px;
  height: 50px;
  object-fit: cover;
}

.navbar-toggler {
  padding: 0;  
}

@media (min-width: 1200px) {
	.container {
	    max-width: 1280px;
	    margin: 0 auto !important;
	}
}

/* WalkTogetherList*/

.content-top {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   font-family: "SUITE-Regular";
}

.content-title {
   width: 100%;
   border: 2px solid #ccc;
   padding: 20px;
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 15px;
   border-radius: 30px;
}

.btn-div {
	display : flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.content-btn1 {
	margin-top : 18px;
	padding : 15px 20px;
	width : 90px !important;
	margin-left:10px;
	background-color: #0256AA;
	border : none;
	border-radius : 10px;
	color: white;
	font-size : 20px;
}

.content-btn2 {
	margin-top : 18px;
	padding : 15px 0;
	width : 90px;
	margin-left:10px;
	background-color : #F0F0F0;
	border : 1px solid #DDD;
	border-radius : 10px;
	font-size : 20px;
}
.write-btn:hover {
	background-color: #0256AA;
	border: 1px solid #0256AA;
	color: white;
}

.write-btn:hover .material-symbols-outlined {
	background-color: #0256AA;
	border: 1px solid #0256AA;
	color: white !important;
}

#delForm{
	display: inline-block;
}

#editBtns, #chatBtn {
	display: flex;
}

.write-btn {
	font-size : 22px;
	border-radius : 10px;
	display : flex;
    align-items: center;
    background-color: white;
    border: 1px solid #555;
    color: #555;
    padding: 7px 10px;
    margin-top: 20px;
}

.write-btn .material-symbols-outlined {
	margin-right: 5px;
	font-size: 25px !important;
	color: #555;
}

.content-btn1:hover,
.content-btn2:hover {
 	transition : .3s; 
	opacity : 0.8;	
}

.btn-div {
	width : 100%;	
	display : flex;
	flex-direction: row-reverse;
	margin-top: 20px;
}

.modal-footer .material-symbols-outlined {
	position: relative;
	top: 1px;
}

.modal-footer .btn-margin {
	margin-top: 10px;
}

.status {
	background-color: tomato;
	font-size: 1rem;
	font-weight: 500;
	position: relative;
	top: -2.5px;
	padding: 2px 7px;
	color: white;
	border-radius: 5px;
	margin-left: 6px;
}

#staticBackdropLabel {
	font-weight: bold;
	font-size: 1.5rem !important;
}

#map {
	margin-top: 20px;
}

h6 {
	font-weight: bold;
}

.walkInfo {
   border: 2px solid #ccc;
   border-radius: 10px;
   padding: 15px;
   padding-bottom: 0;
   margin-top: 15px;   
}

.walkInfo li{
	margin-left: 19px;
}

.basicInfo {
   padding-bottom: 15px;
}

/* WalkTogetherAdd*/
.maincontent {
	align-items: baseline;
	font-family: "SUITE-Regular";
}

.editor-container {
	padding-left: 0;
	padding-right: 0;
	display: inline-block !important;
	margin-bottom: 20px;
}

.centered {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	display: flex;
	justify-content: center;
}

.row {
	width: 100% !important;
}

.editor {
	width: 100%;
}

.ck-editor__editable { 
	height: 400px; 
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
	border-color: #CCC !important;	
}

.ck.ck-button.ck-on {
	background-color: #DDD !important;
	color: black !important;
	font-weight: bold;	
}

.ck.ck-button:active, .ck.ck-button:focus, a.ck.ck-button:active, a.ck.ck-button:focus {
	border: none !important;
	box-shadow: #CCC 0 0 !important;
}

/* CKEditor footer로 인해 충돌 > 수정 필요 */
.footer {
	margin: 0;
	margin-top: 50px;
}

.content-header {
	font-weight: bold;
	width: 100%;
	margin-top: 30px;
}

hr {
   width: 100%;
   margin-top: 15px;
   margin-bottom: 40px;
   color: #868e96 !important;
   border-top: 2px solid;
   opacity: 0.5;
}

.menu-title {
	margin-bottom: 7px;
	margin-top: 15px;
	font-size: 18px;
	width: 100%;
}

input[type="text"] {
	padding : 10px;
	padding-left : 15px;
	border-radius : 5px;
	border : 1px solid #878787;
	margin-bottom: 10px;
	width: 100%;
}

input[type="text"]:focus-visible {
	outline-color: #ADB5BD;
}

#aboutInfo {
	margin-top: 25px;
}

#aboutInfo input[type="text"] {
	width: 33%;
}

#aboutInfo > span:nth-child(1) > span {
	margin-right: 8px;
}

#aboutInfo > span:nth-child(2) > span {
	margin-left: 40px; 
	margin-right: 8px;
}

#btns {
	text-align: right;
}

.content-btn {
	margin-top : 20px;
	padding : 15px 30px;
	width: 100px;
	margin-left:10px;
	border : none;
	border-radius : 10px;
	font-size : 18px;
}

.content-btn.add-btn {
	background-color: #0256AA;
	color : white;
}

#addForm {
	width: 100%;
}


.info ul {
	margin-right: 50px;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.info {	
    display: inline-block;
    background: #fff;
    margin-right: 35px;
    padding-left: 0; 
    padding-top: 5px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 3px 3px #aaa;
}
