/* WalkTogetherList*/

.content-top {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   font-family: "SUITE-Regular";
}

.content-title {
   width: 100%;
   border: 2px solid #ccc;
   padding: 20px;
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 15px;
   border-radius: 30px;
}

.write-btn:hover {
	background-color: #0256AA;
	border: 1px solid #0256AA;
	color: white;
}

.write-btn:hover .material-symbols-outlined {
	background-color: #0256AA;
	border: 1px solid #0256AA;
	color: white !important;
}

.write-btn {
	font-size : 20px;
	border-radius : 10px;
	display : flex;
    align-items: center;
    background-color: white;
    border: 1px solid #555;
    color: #555;
    padding: 7px 10px;
}

.write-btn .material-symbols-outlined {
	font-size: 25px !important;
	color: #555;
}

.btn-div {
	width : 100%;	
	display : flex;
	flex-direction: row-reverse;
	margin-top: 20px;
}

.modal-footer .material-symbols-outlined {
	position: relative;
	top: 1px;
}

.modal-footer .btn-margin {
	margin-top: 10px;
}

.status {
	background-color: tomato;
	font-size: 1rem;
	font-weight: 500;
	position: relative;
	top: -2.5px;
	padding: 2px 7px;
	color: white;
	border-radius: 5px;
	margin-left: 6px;
}

#staticBackdropLabel {
	font-weight: bold;
	font-size: 1.5rem !important;
}

#map {
	margin-top: 20px;
}

h6 {
	font-weight: bold;
}

.walkInfo {
   border: 2px solid #ccc;
   border-radius: 10px;
   padding: 15px;
   margin-top: 15px;
}




/* WalkTogetherAdd*/
.maincontent {
	align-items: baseline;
	font-family: "SUITE-Regular";
}

.editor-container {
	padding-left: 0;
	padding-right: 0;
	display: inline-block !important;
	margin-bottom: 20px;
}

.centered {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	display: flex;
	justify-content: center;
}

.row {
	width: 100% !important;
}

.editor {
	width: 100%;
}

.ck-editor__editable { 
	height: 400px; 
}

.content-header {
	font-weight: bold;
	width: 100%;
	margin-top: 30px;
}

hr {
   width: 100%;
   margin-top: 15px;
   margin-bottom: 40px;
   color: #868e96 !important;
   border-top: 2px solid;
   opacity: 0.5;
}

.menu-title {
	margin-bottom: 7px;
	margin-top: 15px;
	font-size: 18px;
	width: 100%;
}

input[type="text"] {
	padding : 10px;
	padding-left : 15px;
	border-radius : 5px;
	border : 1px solid #878787;
	margin-bottom: 10px;
	width: 100%;
}

input[type="text"]:focus-visible {
	outline-color: #ADB5BD;
}

#aboutInfo {
	margin-top: 25px;
}

#aboutInfo input[type="text"] {
	width: 33%;
}

#aboutInfo > span:nth-child(1) > span {
	margin-right: 8px;
}

#aboutInfo > span:nth-child(2) > span {
	margin-left: 40px; 
	margin-right: 8px;
}

#btns {
	text-align: right;
}

.content-btn {
	margin-top : 20px;
	padding : 15px 30px;
	width: 100px;
	margin-left:10px;
	border : none;
	border-radius : 10px;
	font-size : 18px;
}

.content-btn.add-btn {
	background-color: #0256AA;
	color : white;
}

form {
	width: 100%;
}

/* CKEditor footer로 인해 충돌 > 수정 필요 */
.footer {
	margin: 0;
	margin-top: 50px;
}